.Pokecard-name{
    color: blue;
    font-weight: 700;
}

.Pokecard {
    background-color: lightgray;
    margin: 1em;
    display: inline-block;
    width: 8em;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
 
}